@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html, body{
    margin: 0;
    padding: 0;
    background-color: black;
}

img{
    border-radius: 50%;
    margin-left: 40%;    
    margin-top: 15%;
    border: 5px dashed rgb(206, 63, 94);
}

h2{
    color: rgb(206, 63, 94);
    margin-left: 43%;
    font-family: 'Pacifico', cursive; 
}